/* fonts */
/* grid */
.container
    display: grid
.full-screen
    width: 100vw
    height: 100vh
    background: url("../img/pizzabg.gif") no-repeat center center fixed
    background-size: cover
.hero   
    grid-template-columns: 5% auto 5%
    grid-template-rows: 5% auto 5%


